configuration {
  modes: [combi, calc];
  combi-modes: [drun, run];
  drun-display-format: "{name}";
}

* {
  font: "IosevkaTerm Nerd Font 14";
}

window {
  fullscreen: true;
  transparency: "real";
  padding: 36% 30%;
  background-color: #14171d95;
  border-color: "transparent";
}

listview {
  border: 0;
  padding: 8 0 0;
  scrollbar: true;
}

scrollbar {
    width:        4px;
    border:       0;
    handle-color: #8a9a7b;
    handle-width: 8px;
    padding:      0 5;
}

entry {
  placeholder: "";
}

textbox {
  text-color: #c5c9c7;
}

element {
  border: 0;
  padding: 2px;
}

element.normal.normal {
  background-color: "transparent";
  text-color: #c5c9c7;
}

element.normal.urgent {
  background-color: "transparent";
  text-color: #c4746e;
}

element.normal.active {
  background-color: "transparent";
  text-color: #8a9a7b;
}

element.alternate.normal {
  background-color: "transparent";
  text-color: #c5c9c7;
}

element.alternate.urgent {
  background-color: "transparent";
  text-color: #c4746e;
}

element.alternate.active {
  background-color: "transparent";
  text-color: #8a9a7b;
}

element selected.normal {
  background-color: #3E424A;
  text-color: #c5c9c7;
}

element selected.urgent {
  background-color: #3E424A;
  text-color: #e46876;
}

element selected.active {
  background-color: #3E424A;
  text-color: #87a987;
}

sidebar {
  border: 2px 0 0;
  border-color: #8a9a7b;
}

inputbar {
    spacing:    0;
    text-color: #8a9a7b;
    padding:    2px;
    children:   [ prompt, textbox-prompt-sep, entry, case-indicator ];
}

case-indicator,
entry,
prompt,
button {
    spacing:    0;
    text-color: #8a9a7b;
}

button.selected {
    background-color: #3E424A;
    text-color:       #c5c9c7;
}

textbox-prompt-sep {
    expand:     false;
    str:        ":";
    text-color: #8a9a7b;
    margin:     0 0.3em 0 0;
}
