configuration {
  modes: [combi, calc];
  combi-modes: [drun, run];
  drun-display-format: "{name}";
}

* {
  font: "Maple Mono NF 14";
}

window {
  fullscreen: true;
  transparency: "real";
  padding: 36% 30%;
  background-color: #28282895; /* Gruvbox Material Dark bg */
  border-color: "transparent";
}

listview {
  border: 0;
  padding: 8 0 0;
  scrollbar: true;
}

scrollbar {
    width:        4px;
    border:       0;
    handle-color: #83a598; /* Gruvbox Material Dark green */
    handle-width: 8px;
    padding:      0 5;
}

entry {
  placeholder: "";
}

textbox {
  text-color: #d4be98; /* Gruvbox Material Dark fg */
}

element {
  border: 0;
  padding: 2px;
}

element.normal.normal {
  background-color: "transparent";
  text-color: #d4be98; /* Gruvbox Material Dark fg */
}

element.normal.urgent {
  background-color: "transparent";
  text-color: #ea6962; /* Gruvbox Material Dark red */
}

element.normal.active {
  background-color: "transparent";
  text-color: #a9b665; /* Gruvbox Material Dark green */
}

element.alternate.normal {
  background-color: "transparent";
  text-color: #d4be98; /* Gruvbox Material Dark fg */
}

element.alternate.urgent {
  background-color: "transparent";
  text-color: #ea6962; /* Gruvbox Material Dark red */
}

element.alternate.active {
  background-color: "transparent";
  text-color: #a9b665; /* Gruvbox Material Dark green */
}

sidebar {
  border: 2px 0 0;
  border-color: #a9b665; /* Gruvbox Material Dark green */
}

inputbar {
    spacing:    0;
    text-color: #83a598; /* Gruvbox Material Dark green */
    padding:    2px;
    children:   [ prompt, textbox-prompt-sep, entry, case-indicator ];
}

case-indicator,
entry,
prompt,
button {
    spacing:    0;
    text-color: #83a598; /* Gruvbox Material Dark green */
}

button.selected {
    background-color: #3c3836; /* Gruvbox Material Dark bg0_h */
    text-color:       #d4be98; /* Gruvbox Material Dark fg */
}

textbox-prompt-sep {
    expand:     false;
    str:        ":";
    text-color: #83a598; /* Gruvbox Material Dark green */
    margin:     0 0.3em 0 0;
}
