* {
  border: none;
  font-family: IoskeleyMono Nerd Font;
  font-size: 12px;
  min-height: 0;
}

window#waybar {
  background: #282828;
  color: #d4be98;
}

#workspaces,
#clock,
#pulseaudio,
#network,
#cpu,
#memory {
  padding: 0 10px;
}

#workspaces {
  margin: 2px 0;
  padding: 0 5px;
}

#workspaces button {
  padding: 0 5px;
  background: #3c3836;
  color: #d4be98;
  margin: 2px 0;
  border-radius: 0;
}

#workspaces button.active {
  background: #e78a4e;
  color: #282828;
}

#workspaces button:hover {
  background: #d8a657;
  color: #282828;
  box-shadow: inherit;
  text-shadow: inherit;
}
